# Virtual Envs
/venv
/.idea
financiationDjango/djangoapp/__pycache__
/node_modules
/financiationDjango/build/build/static/css/main.fd2f4f4d.css
/financiationDjango/build/build/static/css/main.fd2f4f4d.css.map
/financiationDjango/build/build/static/js/787.11fd6282.chunk.js
/financiationDjango/build/build/static/js/787.11fd6282.chunk.js.map
/financiationDjango/build/build/static/js/main.e8462794.js
/financiationDjango/build/build/static/js/main.e8462794.js.LICENSE.txt
/financiationDjango/build/build/static/js/main.e8462794.js.map
/financiationDjango/build/build/static/media/color.6441e63a57ccc5105bad.png
/financiationDjango/build/build/static/media/PRUEBA.88e01eaa6ce039d1eac2.PNG
/financiationDjango/build/build/asset-manifest.json
/financiationDjango/build/build/favicon.ico
/financiationDjango/build/build/index.html
/financiationDjango/build/build/logo192.png
/financiationDjango/build/build/logo512.png
/financiationDjango/build/build/manifest.json
/financiationDjango/build/build/robots.txt
/financiationDjango/build/static/css/main.fd2f4f4d.css
/financiationDjango/build/static/css/main.fd2f4f4d.css.map
/financiationDjango/build/static/js/787.11fd6282.chunk.js
/financiationDjango/build/static/js/787.11fd6282.chunk.js.map
/financiationDjango/build/static/js/main.60d51dc8.js
/financiationDjango/build/static/js/main.60d51dc8.js.LICENSE.txt
/financiationDjango/build/static/js/main.60d51dc8.js.map
/financiationDjango/build/static/media/color.6441e63a57ccc5105bad.png
/financiationDjango/build/static/media/PRUEBA.88e01eaa6ce039d1eac2.PNG
/financiationDjango/build/asset-manifest.json
/financiationDjango/build/favicon.ico
/financiationDjango/build/index.html
/financiationDjango/build/logo192.png
/financiationDjango/build/logo512.png
/financiationDjango/build/manifest.json
/financiationDjango/build/robots.txt
