.cardactivate{
    max-width: 30rem!important;
    margin: 0 auto!important; 
    padding: 2vw!important;
    border-radius: 5vh!important;
    background-color: white!important;
    margin-top: 18vh!important;
}

.logoactivate{
    width: 15vw;
    margin-bottom: 3.5vh;
}

.titacti1{
    margin-bottom: 3.5vh;
}

.botonactivate{
    border-radius: 5vh;
    background-color: #53A6DC;
    border-color: #53A6DC;
    color: rgb(255, 255, 255);
    padding: 15px;
 
}

.fondo {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
}



@media (max-width: 768px) {
    .logoactivate {
        width: 45vw;
    }
    #botonactivate {
        width: 200px;
        border-radius: 5vh;
        font-size: 0.7rem;
        padding: 2vh 15vw;
    }
}