.shadowbox{
    -webkit-box-shadow: -1px 2px 42px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 42px -7px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 42px -7px rgba(0,0,0,0.75);
}


.fondo {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.imgVerify{
    max-height: 150px;
    max-width: 250px;
}

.imgCheck{
    display: flex;
    justify-content: center;
    align-items: center;
}