.container-addmayor {
    margin-top: 8vh;
    background-color: white;
    width: 50vw;
    height: 35vw;
    border-radius: 5vh;
}
.containermayor{
    margin-top: 8vh;
    background-color: white;
    width: 70vw;
    height: 35vw;
    border-radius: 5vh;
}

.container-addmayor-modal{
    width: 20vw !important;
}

.container-adddmayor {
    background-color: rgb(243, 219, 219);
    height: 35vw;
    border-radius: 5vh;
    align-items: center;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;   
}


.FormAddMayor{
    align-items: center;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    vertical-align:text-bottom ;
    padding-top: 10vw;
}
.inputNombre{
    padding-bottom: 2vw !important;
    padding-right: 2vw !important;
}
.input{
    padding-bottom: 1vw !important;
}
.BtnBorrar{
    border-radius: 3vw;
    color: #da1f1f;
    background-color: #ffffff;
    border-color: #da1f1f;
}
.BtnBorrar:hover {
    background-color: #da3b1f;
    border-color: #da1f1f;
}
.display{
    padding: 2vw;
}
.displayitem{
    background-color: #f4f4f4;
    padding: 0.4vw;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    border-radius: 3vw;
    margin-right: 1vw;
    text-decoration: none;
    color: black;
}
.inputedit{
    max-width: 8vw;
    background-color: #f4f4f4;
    border-radius: 4vw;
    border-width: 0.1vw;
    border-color: gray;
    padding-left: 0.5vw;
}