.MiniContainerVisit {
    background-color: white;
    border-radius: 8vh;
    height: 82vh;

    justify-content: center !important;
    align-items: center !important;
}


.CardVisit {
    width: 15vw !important;
    height: 35vh !important;
    background-color: #f4f4f4 !important;
    border-radius: 8vh !important;
}


.h1NuevaVisita {
    color: #0d0d0d;
}

.carousel-indicators {
    bottom: -8vh;
}

.carousel-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: -38vh;
}


.carouselAddVisit {
    width: 80vw;
    height: 75vh;
}

.CenterContentCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.CenterContentCardConvenios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.CardVisitConvenios {
    width: 55vw !important;
    height: 35vh !important;
    background-color: #f4f4f4 !important;
    border-radius: 40px !important;
}


.BtnAddVisit {
    width: 18vw;
    height: 10vh;
    background-color: #53A6DC !important;
    border-color: #53A6DC !important;
    color: white !important;
    padding: 10px;
    border-radius: 1vw !important;
}

.BtnAddVisit:hover {
    background-color: #097cce !important;
}

.icon {
    font-size: 50px !important;
    margin: 1vw;
    margin-top: -8vw;
    margin-left: 10vw;
}

.icon:hover {
    color: #53A6DC;
}

.CarouselItemOne{
    justify-items: center !important;
        align-items: center !important;
        justify-content: center !important;
}

@media (max-width: 800px) {

    .MiniContainerVisit {
        height: auto;
        justify-items: center !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .CardVisit {
        width: auto !important;
    }

    .InputVisit {
        width: 30vw;
    }

    .carouselAddVisit {
        height: auto;
    }

    .CarouselItemOne{
        height: auto;
    }

    .carousel-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
    }
    
    .ThirdCarousel{
        height: 90vh;
    }
    .CardVisitConvenios{
        width: auto !important;
        height: auto;
    }

    .CenterContentCardConvenios{
        width: auto;
        height: auto;
      
    }

    .BtnAddVisit {
        width: auto;
    }

    .icon {
        font-size: 50px !important;
        margin: 1vw;
        margin-top: -15vh;
        margin-left: 50vw;
    }
}