.CarouselAddVisit{
    height: 77vh;
    background-color: white;
    border-radius: 6vh;
}
.CardVisit {
    width: 15vw !important;
    height: 35vh !important;
    background-color: #f4f4f4 !important;
    padding: 2vh;
    border-radius: 8vh !important;
    margin: 2vh !important;
}

.carousel-indicators {
    bottom: -8vh;
}

.carousel-buttons {
    display: flex;
    justify-content: space-between;
    position: static;
}


.CenterContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}


.CenterContentCardConvenios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.CardVisitConvenios {
    width: 55vw !important;
    height: 35vh !important;
    background-color: #f4f4f4 !important;
    border-radius: 8vh !important;

}

.BtnAddVisit {
    width: 18vw;
    height: 10vh;
    background-color: #53A6DC !important;
    border-color: #53A6DC !important;
    color: white !important;
    padding: 10px;
    border-radius: 1vw !important;
}

.BtnAddVisit:hover {
    background-color: #097cce !important;
}


@media (max-width: 767px) {

    .CarouselAddVisit{
        height: auto;
        background-color: white;
        border-radius: 6vh;
    }

    .CardVisit {
        width: 65vw !important;
        height: 35vh !important;
        background-color: #f4f4f4 !important;
        padding: 2vh;
        border-radius: 8vh !important;
        margin: 2vh !important;
    }
        
    .CardVisitConvenios {
        width: 65vw !important;
        height: 45vh !important;
        background-color: #f4f4f4 !important;
        border-radius: 8vh !important;
        margin: 2vh;
    
    }
    
    
    .BtnAddVisit {
        width: auto;
        height: 10vh;
        background-color: #53A6DC !important;
        border-color: #53A6DC !important;
        color: white !important;
        border-radius: 3vh !important;
        margin-bottom: 2vh !important;
    }
  
}
@media (min-width: 909px) {
    .CarouselAddVisit{
        height: 85vh;
        background-color: white;
        border-radius: 6vh;
    }

    .CardVisit {
        width: 14vw !important;
        height: 38vh !important;
        background-color: #f4f4f4 !important;
        padding: 2vh;
        border-radius: 4vh !important;
       
    }
    
 
    .CardVisitConvenios {
        width: 55vw !important;
        height: 38vh !important;
        border-radius: 4vh !important;
        margin: 2vh;
    }
    
    .BtnAddVisit {
        width: 25vw;
        height: 8vh;
        background-color: #53A6DC !important;
        border-color: #53A6DC !important;
        color: white !important;
        border-radius: 3vh !important;
        margin-bottom: 2vh !important;
    }
}
@media (min-width: 1920px) {
    .CarouselAddVisit{
        height: 48vh;
        background-color: white;
        border-radius: 6vh;
    }

    .CardVisit {
        width: 12vw !important;
        height: 20vh !important;
        background-color: #f4f4f4 !important;
        padding: 2vh;
        border-radius: 4vh !important;
        margin: 2vh !important;
    }
    
 
    .CardVisitConvenios {
        width: 44vw !important;
        height: 20vh !important;
        border-radius: 4vh !important;
        margin: 2vh;
    }
    
    .BtnAddVisit {
        width: 10vw;
        height: 8vh;
        background-color: #53A6DC !important;
        border-color: #53A6DC !important;
        color: white !important;
        border-radius: 3vh !important;
        margin-bottom: 2vh !important;
    }

}