.nameuser {
	margin-top: 1vh;
}

.UserCard {
	border-radius: 3vh !important;
	padding: 1vh;
}

.profileimage {
	padding: 0.2vw;
}

.status {
	padding: 1vw;
}



.check {
	padding: 1.1vw;
	width: 1.3vw;
	height: 1.3vw;
	margin-left: 3vw;
}

.roleocupado {
	padding: 1vw;
}
.content-select{
	width: 12vw;
	height: 6vh;
}

