.AdvisorBorder{
    max-height: 70px;

}

.AvatarImg{
    align-items:center;
}

.PrimaryText{
    text-transform: capitalize !important;
    padding: 0;
    margin: 0;
}

.SecondaryText{
    margin-top: -12px;
}
.UserParagraph{
    text-transform: capitalize;
}

.AllAdvisorMiniCard{
    max-height: 100px;
    max-width: auto;


}
