* {
    overflow-x: hidden;
}

.general {
    padding: 0;
}

.imagen {
    height: 100vh;
    width: auto;
    object-fit: cover;

}

.informacion {
    display: flex;
    align-items: center;
}

.carta {
    margin: 2vh;
    padding: 2vh;
}

.boton {
    width: 90%;
}