.BtnSeeGroup{
	position: absolute;
	right: 0;
	top: 0;
}

.GroupsIcon {
    align-items: center;
}

body {
	background-color: #F4F4F4;
	font-family: poppins;
}
.separation{
	padding: 1vh;
}
.boton{
	padding: 3vh;
}