
.buttonconsulta {
    max-width: 120px;
}

.ContainerPersonForm{
    background-color: white;
    border-color: black !important;
    width: 12vw;
    border-radius: 3vh;
    align-items: center;
    padding: 1vh;
    text-align: center;
    justify-content: center;
    height: 7vh;

}

.InputsFormPage{
    background-color: white;
    border-radius: 3vh;
}

.pInFormPage{
    transform: translateY(2vh);
}

.form-select{
    background-color: white;
    border-radius: 3vh;
    height: 7vh;
}

.department-select{
    width: 65vw;
}

.FirstContainerForm{
    width: 70vw;
}

.VisitaDropDown{
    margin-right: 2vw;
}