.formschecks {
    padding: 10px
}

.buttonconsulta {
    max-width: 120px;
}

.ContainerPersonForm{
    background-color: white;
    width: 12vw;
    padding-top: 2vh;
    border-radius: 3vh;
    align-items: center;
}

.InputsFormPage{
    background-color: white;
}

.pInFormPage{
    transform: translateY(2vh);
}