.CompletlyContainer {
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.groupacord{
    margin-bottom: -1vh !important;
}
.vl {
    border-left: 1px solid grey;
    position: relative;
    right: 0;
    left: 15px;
    height: 100%;

}

.pencil-groups{
    padding-bottom: 2vh;
    padding-left: 2vh;
}

.accordion-group{
    border-radius: 3vh !important;
}
