.groupcard{
    max-height: 150vh;
    margin-top: 2%;
    margin: 5%;
    width: 150vh;
    padding-left: 5%;
    padding-right: 5%;
    
}
.CompletlyContainer{
    display: flex;
    justify-content: center;
    align-items: center;

}
    

.ContainerNameGroup{
    margin-top: 1.5%;
    margin-bottom: 1%;
}
.b{
    font-size: 150%;
}
.a{
    font-size: 125%
}