.row1 {
    border-color: blue;
}

.CartaGroupcard {
    background-color:#fff8ff;
    border: none;
    
    
    box-shadow: rgba(17, 12, 46, 0.1) 5px 5px 10px 0;

    max-width: 700px;
         
    position: relative;
    top: 10%;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: auto;
}
.cont1{
    border-bottom: 2px solid #1fa4e6;
    border-right: 2px solid #1fa4e6;
}