* {
    overflow-x: hidden;
}

.background {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.imagen {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
}

.card {
    text-align: center;
    box-shadow: rgba(17, 12, 46, 0.1) 5px 5px 10px 0;
    border-radius: 20px;
}

.imgLogo {
    width: 100px;
    height: 100px;
}

.verifyimg {
    width: 200px;
    height: 115px;
}

@media screen and (min-width: 1000px) {
    #carta {
        position: absolute;
        min-height: fit-content;
        height: auto;
        top: 10vh;
        left: 30vw;
        right: 30vw;
    }
}


@media screen and (max-width: 1000px) and (min-width: 700px) {
    #carta {
        position: absolute;
        min-height: fit-content;
        height: auto;
        top: 10vh;
        left: 20vw;
        right: 20vw;
    }

}

@media screen and (max-width: 700px) {
    #carta {
        position: absolute;
        min-height: fit-content;
        height: auto;
        top: 10vh;
        left: 10vw;
        right: 10vw;

    }
}


