body {
    background-color: #f4f4f4;
}
.landing-page {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background-color: #F4F4F4;
}

.containerLanding {
    position: relative;
    height: 100%;
    overflow-y: hidden;
}

.imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.imagen-diagonal {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 70% 0, 30% 100%, 0% 100%);
    overflow: hidden;
}

.overlay-content {
    position: relative;
    z-index: 2;
}

.overlay-content-inner {
    position: absolute;
    transform: translate(-40%, 56%);
    right: -90%;
}


.pInLanding {
    font-size: 20px;
    color: #53A6DC;
    padding-top: 10px;

}

.BtnLanding {
    width: 210px;
    border-radius: 15px;
    background-color: #53A6DC;
    border-color: #53A6DC;
    color: white;
    padding: 10px;
}

.BtnLanding:hover {
    width: 210px;
    border-radius: 15px;
    background-color: #1f8bda;
    border-color: #53A6DC;
    color: white;
}

.stopScrolling {
    overflow-y: hidden;
}

.landing-page-body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

@media (max-width: 800px) {
    .ThingsInLanding{
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
        transform: translateX(-65vw);
    }
}