
.ImgLogoFinanzasLanding {
    width: 200px;
    height: 60px;

}


.containerLanding {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;

}

.imagen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    overflow: hidden;
    overflow-y: hidden;
}

.imagen-diagonal {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0 0, 70% 0, 38% 100%, 0% 100%);
    overflow-y: hidden;

}
.stopScrolling{
    overflow-y: hidden;
}