.loading-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1); /* Add a semi-transparent overlay for a modal effect */
    z-index: 10000;
    color: #53A6DC;
}