.general {
    padding: 2vw;
    text-align: center;
}

.form-control {
    padding: 2vh;
    min-height: 50px;
    height: 5%;
    box-shadow: rgba(17, 12, 46, 0.1) 5px 5px 10px 0;
}

.container {
    padding: 2vh;
}

.login {
    margin: 2vh;
    box-shadow: rgba(0, 72, 255, 0.3) 5px 5px 10px 0;
}

.floatingLabel {
    color: #7e8181
}

.input-required {
    padding: 15px;
}


.link{
    font-size: 0.25 rem;
    color: #000000;
    text-decoration: none; /* Eliminar subrayado */

}
.link:hover{
    color:#373b3b;

}



.GeneralCard {
    width: 30vw; /* Ajusta el ancho de la tarjeta según tus necesidades */
    padding: 10vh, 10vw;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto; /* Esto centra horizontalmente la tarjeta */
    
  }
  
  @media (max-width: 60vh) {
    .GeneralCard {
      width: 100%; /* La tarjeta ocupará el ancho completo en pantallas pequeñas */
    }
  }

.Titulo1{
    border-bottom: 0px;
    margin-bottom: 0%;
}

.Image{
    padding-top: 0.9rem;
    width: 55%;
    height: 55%;
    max-width: 40rem;
    margin: 0 auto;
}

.AccesButton{
    color:cornsilk;
    background-color: #53A6DC;
    border: #53A6DC;
    border-radius: 10px;

}
.AccesButton:hover{
    background-color: #469bd4;
    
}
