.general {
    padding: 2vw;
    text-align: center;
}

.form-control {
    padding: 2vh;
    min-height: 50px ;
    height: 5%;
    box-shadow: rgba(17, 12, 46, 0.1) 5px 5px 10px 0;
}

.container {
    padding: 2vh;
}

.login {
    margin: 2vh;
    box-shadow: rgba(0, 72, 255, 0.3) 5px 5px 10px 0;
}