.profile-card{
    height: 60vh;
    margin: 3vh;
    border-radius: 5vh !important;
    vertical-align: middle !important;
    padding-top: 3vh;
}

.first-row-main-menu-card{
    padding-top: 2vh;
}

.p-main-menu-card{
    margin: 0;
}

.last-visits-card{
    height: 20vh;
    border-radius: 5vh !important;
    margin: 3vh;
}

.next-visits-card{
    height: 83vh;
    border-radius: 5vh !important;
    margin: 3vh;
}
.name-title{
    padding-top: 2.5vh;
}

.group-card-main-menu{
    height: 40vh;
    border-radius: 5vh !important;
    margin: 3vh;
}

.report-card-main-menu{
    height: 40vh;
    border-radius: 5vh !important;
    margin: 3vh;
}

.barchart-report-card-main-menu{
    width: auto;
    height: auto
}

.ver-mas-bottom-visit{
    bottom: 0 !important;
}

.container-visit-card-main-menu{
    overflow-y:auto;
    height: 64vh;
}

#container-group-card-main-menu{
    overflow-y:auto;
    height: 23vh;
}

#nombresscroll{
    overflow-y:auto;
    height: 23vh;
    padding-left: 2vw;
}


.containerGroupsNames{
    margin-right: 0.1vw;
}

.PersonRowMainMenu{
    background-color: #f4f4f4;
    border-radius: 1vw;
    width: 25vw;
 
    margin-top: 1.5vh;
    padding: 0.5vh;
    display: flex;
}

@media (max-width: 800px) {
    .PersonRowMainMenu{
    border-radius: 5vw;
    width: 70vw;
   
    padding: 1vh;

    }
}