.menu-card {
    margin: 4.5vh;
    transition: box-shadow 0.3s ease;
    border-radius: 0; 
    max-height: 500px;
}

.card-image {
    max-height: 140px;
    border-radius: 0; 
  }

.menuback.full-height {
    min-height: 127%;
}

.menuback {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    position: absolute;
    width: 100vw;
    height: 90vh;
}

.tit {
    color: rgba(13, 110, 253, 0.3);
    text-align: center;
}

.card:hover {
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.2); 
  }
  
.menu-card-row {
    padding: 0.5vh;
}

.menu-card-body {
    padding: 2vh;
    
}

.menu-card-link {
    width: auto;
    margin: 0.5vh;
}

.menu-card-button {
    box-shadow: rgba(13, 110, 253, 0.3) 0px 7px 29px 0px;
}





