.menu-card {
    margin: 4vh;
}

.menu-card-row {
    padding: 0.5vh;
}

.menu-card-body {
    padding: 0.5vh;
}

.menu-card-link {
    width: auto;
    margin: 0.5vh;
}

.menu-card-button {
    box-shadow: rgba(13, 110, 253, 0.3) 0px 7px 29px 0px;

}