#navbarcs {
    background-color: #1fa4e6;
    max-height: 20%;
    text-align: left;
}
#navbar {
    color: rgb(255, 255, 255);
    padding: 15px;
}

#logoboton {
    max-width: 30%;
    max-height: 15%;
    overflow-y: hidden;
    
}
