#navbarcs {
    background-color: #ebf1f4;
    max-height: 20%;
    overflow: hidden;
}

.navLinkLogin {
    position: absolute;
    right: 20px;
}

.BtnNavBar{
    color: #53A6DC;
}
.aNavBar{
    color: #53A6DC;
    text-decoration: none;
}

.ImgNavBar{
    padding-left: 10%;
    width: 150px;
    height: 50px;
}

@media (max-width: 500px){
    .linksNavbar{
        width: 100%;
        justify-content: center;
        text-align: center;
        transform: translateX(-8vw);
    }


}
