*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #ffe3f6;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .input-field{
    width: 330px;
    height: 55px;
    background-color: #fff;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: #fdd6f1 0px 5px 15px;  
  }
  
  .input-field input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: hidden;
    outline: none;
    font-size: 18px;
    text-indent: 2px;
    padding: 5px;  
  }
  
  .input-field span{
    cursor: pointer;
  }