.profile-form-col {
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
   

  align-items: center; /* Centrar verticalmente */

}
.profile-form-col1 {
    margin-top: 0vh;
    margin-bottom: 0vh;
    display: flex;
    align-items: center; /* Centrar verticalmente */
    
}
.profile-form-col2 {
    margin-top: 0vh;
    margin-bottom: 2vh;
    display: flex;
   

  align-items: center; 

}
.profile-fc {
    
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    align-self: center;
    
    
}

.button-container {
    display: flex;
    justify-content: start;
    align-items: center;
    

}
.ProfileDataModifier{
    margin-top: 3vh;
}

.change-password {
    background-color: rgb(32, 64, 168);
    align-self: center;
    width: 35vh;
    height: 6.5vh;
    border-color: rgb(32, 64, 168);
    box-shadow: rgba(10, 41, 134, 0.5) 0px 7px 29px 0px;
    text-align: center;
    padding-left: 0vh;
    margin-left: 0vh;
}

.change-password:hover {
    background-color: rgb(32, 64, 168);
    border-color: rgb(32, 64, 168);
    box-shadow: rgba(9, 31, 122, 0.5) 0px 7px 29px 0px;
    
}

.sumbit-button {
    width: 100%;
    height: 100%;
    box-shadow: rgba(13, 110, 253, 0.5) 0px 7px 29px 0px;
}

.a{
    align-items: center; 
    border: none;
}

.ab{
    text-align: center;
    margin: 0;
    padding: 0;
}
.ModificarPerfil{
    justify-content:space-between
}
.ProfileTitle{
    margin-bottom: 4.5vh;
}