
@media screen and (min-width: 801px){
    .ContainerProfilePage{
        transform: translateY(15vh);
        background-color: white;
        border-radius: 10vh;
        width: 60vw;
    }

};


.inputsProfile{
    border-radius: 10vw !important; 
    width: 30vw !important;
    background-color: #f4f4f4 !important;
}

.textfieldprofile{
    border-radius: 10vw !important; 
    width: 30vw !important;
    background-color: #f4f4f4 !important;
}