
@media screen and (min-width: 801px){
    .ContainerProfilePage{
        transform: translateY(15vh);
        background-color: white;
        border-radius: 10vh;
        width: 60vw;
    }

};

@media screen and (min-width: 801px){
.InputsProfile{
    border-radius: 10vw !important; 
    width: 80vw !important;
}
};


@media screen and (max-width: 800px) {
.ProfilePicture{
    transform: translateY(15vh);
}

}