#tittle{
  color: lightblue;
  margin-bottom: 30px;
}

#containerregi{
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
}

#input1{
  margin-right: 20px;
  width: 400px;
  height: 57px;
}


#input2{
  margin-right: 10px;
  width: 400px;
  height: 57px;
}

#inputdate{
  margin-right: 10px;
  height: 58px;
  width: 400px;
}

#inpu1{
  margin-right: 10px;
  width: 400px;
  height: 57px;
}

#inpu2{
  margin-right: 10px;
  width: 400px;
  height: 57px;
}

#inputnum{
  margin-right: 10px;
  height: 58px;
  width: 400px;
}

#inp1{
  margin-right: 20px;
  width: 400px;
  height: 57px;
}

#inp2{
  margin-right: 10px;
  width: 400px;
  height: 57px;
}

#bt1{
  width: 100px;
  height: 57px;
  margin-left: 120px;
  padding: 5px 10px;
}

#Rowcontent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  width: 90%;
  max-width: 1100px;
  position: relative;
  padding: 0;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  justify-content: center;
}
