.filters-column {
    padding: 3vh;
    text-align: center;
    margin: auto;
    align-items: center;
}

.filter-card {
    height: 70vh;
    background-color: #f4f4f4;
    border-radius: 3vh;
    border-color: #F4F4F4;
    margin: 2vh;
    padding-bottom: 5vh;

}

.filter-card-scroll {
        overflow-y: scroll;
        scroll-margin-right: 300vh;
        flex: 1;
    
}

.visit-container {
    background-color: #FFA794;

}
.chart-card {
    padding: 1vh;
    align-items: center;
    border: none;
}
.titulolocalidad{
    text-align: center;

}

.container-white{
  
    background-color: white;
    border-radius: 5vh;
    margin-top: 2vh;
    
}
.titulo1{
    margin-top: 2vh;
    margin-left: 3vh;
}

.container1{
    margin-top:5vh;
}

.BtnGenera{
    background-color: #53A6DC;
    border-radius: 3vh;
    border-color: #53A6DC;
    width: 200px;
    padding: 8px;
    color: white;
    margin-bottom: 5vh;
}

.chart-column{
    text-align: center;
    margin: 3vh;
    border-radius: 5vh;
    background-color: #f4f4f4;
   
}

@media (max-width: 800px) {
    .chart-column{
        text-align: center;
        margin: 3vh;
        border-radius: 5vh;
        background-color: #f4f4f4;
    
        justify-content: center;
    }
    
}