.red {
    overflow-y: scroll;
    max-height: 100%;
}

.blue {
    background-color: blue;
}

.green {
    max-height: 50%;

}

.yellow {
    max-height: 70%;
    overflow-y: hidden;
}

.charts {
    justify-content: space-around;
}