@media (min-width: 801px) {
    .ContainerResetPassword {
        margin-top: 10vh;
        background-color: white;
        width: 37.5vw;
        border-radius: 5vh;
        min-height: 57vh;
    }
    .ImgLogoResetPassword{
        width: 15vw;
        height: 9vh;
        margin-top: 4vh;
        margin-bottom: 2vh;
    }
    .InputResetPassword {
        width: 20vw !important;
        background-color: #f4f4f4;
        border-radius: 3vh;
        margin-bottom: 5vh;
       
    }
    .BtnEnviarResetPassword {
        margin-top: 3vh;
        width: 18vw;
        border-radius: 10vh;
        background-color: #53A6DC;
        border-color: #53A6DC;
        color: white;
        padding: 10px;
    }

    .BtnEnviarResetPassword:hover {
        background-color: #1f8bda;
        border-color: #1f8bda;

    }
}
.h3ResetPasswordPage {
    margin-bottom: 2vh;
    margin-top: 1.5vh;
}
.pResetPassword{
    margin-top: 0.5vh;
    color: black;
    font-size: small;
}

@media (max-width: 800px) {

    .ContainerResetPassword {
        margin-top: 8vh;
        width: 80%; /* La tarjeta ocupará el ancho completo en pantallas pequeñas */
        background-color: white;
        border-radius: 5vh;
        min-height: 60%;
    }
    .ImgLogoResetPassword{
        width: 70%;
        height: 12vh;
        margin-top: 4vh;
        margin-bottom: 2vh;
    }
    .InputResetPassword {
        width: 60vw !important;
        background-color: #f4f4f4;
        border-radius: 3vh;
        
    }
    .BtnEnviarResetPassword{
        margin-top: 2vh;
        width: 40vw;
        border-radius: 10vh;
        background-color: #53A6DC;
        border-color: #53A6DC;
        color: white;
        padding: 10px;
    }
    .BtnEnviarResetPassword:hover {
        background-color: #1f8bda;
        border-color: #1f8bda;
    
    }
}

