@media (min-width: 801px) {
    .ContainerResetPasswordConfirm {
        margin-top: 8vh;
        background-color: white;
        width: 40vw;
        border-radius: 5vh;
    }

    .ImgLogoResetPassword {
        width: 15vw;
        height: 10vh;
        margin-top: 4vh;
        margin-bottom: 2vh;
    }


    .BtnIniciarSesionLogin {
        width: 12vw;
        border-radius: 10vh;
        background-color: #53A6DC;
        border-color: #53A6DC;
        color: white;
        padding: 10px;
    }

    .BtnIniciarSesionLogin:hover {
        background-color: #1f8bda;
        border-color: #1f8bda;

    }

    .InputResetPasswordConfirm {
        width: 30vw !important;
        background-color: #f4f4f4;
        border-radius: 3vh;
    }
}
.h3LoginPage {
    margin-bottom: 5vh;
    margin-top: 2vh;
}

.pLoginPage {
    margin-top: 2vh;
    color: black;
}

.SecondpLoginPage {
    color: black;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

@media (max-width: 800px) {

    .ContainerLoginPage {
        margin-top: 8vh;
        width: 80%;
        background-color: white;
        border-radius: 5vh;
    }

    .BtnIniciarSesionLogin {
        width: 40vw;
        border-radius: 10vh;
        background-color: #53A6DC;
        border-color: #53A6DC;
        color: white;
        padding: 10px;
    }

    .BtnIniciarSesionLogin:hover {
    background-color: #1f8bda;
    border-color: #1f8bda;

}

    .InputLoginPage {
        width: 60vw !important;
        background-color: #f4f4f4;
        border-radius: 3vh;
    }

    .ImgLogoResetPassword {
        width: 55vw;
        height: 15vh;
        margin-top: 4vh;
        margin-bottom: 2vh;
    }

}