
.cardsign {
    width: 80vw!important;
    max-width: 40rem!important;
    margin: 0 auto!important; 
    padding: 2vw!important;
    border-radius: 4vh!important;
}

.logosign{
    width: 25vw; 
    max-width: 40rem;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

#botonsign{
    border-radius: 4vh;
    font-size: 0.7rem; 
    padding: 2vh 3vw;
    min-width: 100px; 
}

.titsign {
    font-size: 1.2rem; 
}

#linksign{
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    .titsign {
        font-size: 0.8rem; 
    }
}

@media (max-width: 768px) {
    .logosign {
        width: 45vw;
    }
}

@media (max-width: 768px) {
    #linksign {
        font-size: 0.7rem; 
    }
}

@media (max-width: 768px) {
    #botonsign {
        border-radius: 4vh;
        font-size: 0.7rem;
        padding: 1.5vh 2.5vw;
        min-width: 80px;
    }
}