.general {
    padding: 2vw;
}

.row {
    margin: 1vh;
}

.col-lg-6 {
    padding: 1vh;
}

.form-control {
    min-height: 50px ;
    height: 5%;
}

.create {
    margin: 1vh;
}

.link {
    margin: 1vh;
}
