
.cardsign {
    width: 50vw!important; /* Ancho del 80% del viewport width */
    height: 95vh!important; /* Altura del 70% del viewport height */
    max-width: 40rem!important; /* Ancho máximo según tus preferencias, utilizando unidades 'rem' */
    margin: 0 auto!important; /* Centra horizontalmente la tarjeta */
    padding: 2vw!important;
    border-radius: 4vh!important;
}

.logosign{
    width: 25vw; /* Ancho del 80% del viewport width */
    height: 15vh; /* Altura del 70% del viewport height */
    max-width: 40rem; /* Ancho máximo según tus preferencias, utilizando unidades 'rem' */
    margin: 0 auto; /* Centra horizontalmente la tarjeta */
}

#botonsign{
    border-radius: 4vh;
}