.accordion-visits{
    width: auto;
    border-radius: 2vh !important;
  
}

.SearchVisit{
    margin-top: 5vh !important;
    width: 65vw !important;
    background-color: white;
    border-radius: 4vh;
    color: #000;

}

 
