.accordion-visits{
    width: 50vw;
    border-radius: 2vh !important;
    padding: 5px;
}

.VisitName{
    margin: 0;
}

.VisitConfirm{
    margin-left: auto;
}

.circle_green {
    margin-left: 5px; /* Ajusta este valor según sea necesario para el espacio deseado */
    margin-right: 0; /* Elimina cualquier margen en el lado derecho */
  }

.SearchVisit{
    margin-top: 5vh !important;
    width: 65vw !important;
    background-color: white;
    border-radius: 4vh;
    color: #000;

}
 