.visit-container {
    background-color: #F4F4F4;
    border-radius: 3vh;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.visit-row {
    display: flex;
    align-items: center;
}

.visit-title {
    margin-right: 1vw;
}

.status-row {
    display: flex;
}
.circle_yellow{
    background-color: yellow;
    border-radius: 15vw;
    display: inline-block;
}